
body{
    display: flex;
    flex-direction: column;
}
  
  .sidebar{
    background-color: #ffbc96;
    position: fixed;
    width: 240px;
    right: -240px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
  }

  .sidebar a{
    display: block;
  }

  #check{
    display: none;
  }

label #btn, label #cancel{
    position: absolute;
    right: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 30px;
    background-color: #fff780;
    height: 200px;
    width: 45px;
    text-align: center;
    transition: all .5s ease;
  }

  label #cancel{
    opacity: 0;
    visibility: hidden;
  }

  #check:checked ~ .sidebar {
    right: 0;
  }

  #check:checked ~ label #btn{
    margin-right: 245px;
    opacity: 0;
    visibility: hidden;
  }

  #check:checked ~ label #cancel{
    margin-right: 245px;
    opacity: 1;
    visibility: visible;
  }

   /* a.active,a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  } */ 