@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rosaClaro:#ffc0cb;
    --rosa: #f88fa0;
    --rosaEscuro: #e6687d;
    --azulClaro: #7c9cc7;
    --azul: #1f74a5;
    --azulEscuro: #2b3452;
}


strong.simbolo {
    text-align: center;
    display: inline-block;
    width: 25px;
    background-color: #eee;
    color: var(--azulClaro);
    border: 1px solid #ddd;
    margin-right: 10px;
}

input {
    padding: 5px;
    margin: auto 5px;
}

input.inputCalc {
    width: 80px;
}

input.botaoRes {
    background-color: var(--rosaClaro);
    color: var(--azulEscuro);
    border: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid var(--rosa);
}

input.botaoRes:hover {
    background-color: var(--rosa);
    color: #2b3452;
    cursor: pointer;
}

p.resultado {
    background-color: #eee;
    color: var(--rosaEscuro);
    font-size: 0.9em;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;

}

span {
    display: block;
    margin: 5px 0;
}