@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    color: #3a4669;
    background-color: #fdf5b8;
}

main {
    padding: 0 20px 30px 20px;
    background-color: #ffffff;
    max-width: 700px;
    margin: auto;
    border-top: 10px solid #24668d;
    border-right: 2px solid #f7df1e;
    border-left: 2px solid #f7df1e;
    box-shadow: 0 0 5px #222b497c;
}

h1 {
    background-color: #f7df1e;
    padding: 10px 30px;
    font-size: 1.7em;
    margin: 0 -20px 20px -20px;
    color: #fff;
    text-transform: uppercase;
}

h1:hover::after, h2:hover::after, h3:hover::after {
    content: "_";
}

p {
    font-size: 14px;
    padding: 10px;
    text-align: justify;
}

div.comando, div.eventoDOM {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #24668d;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

div.comando p, input {
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}

input.botaoTeste {
    background-color: #fdf5b8;
    color: #24668d;
    border: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #f7df1e;
}

input.botaoTeste:hover {
    background-color: #f7df1e;
    color: #2b3452;
    cursor: pointer;
}

div.comando code, div.eventoDOM code {
    font-family: 'Anonymous Pro', monospace;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

p.pDeTestes {
    background-color: #eee;
    color: #c4af11;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}

ul {
    padding-left: 40px;
}

ul li {
    list-style-type: circle;
}

ul li span {
    font-size: 0.9em;
}

main figure {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    font-size: 12px;
}

main img {
    width: 100%;
}

main h2 {
    color: #7c9cc7;
    margin: 20px 0;
    font-size: 1.3em;
    margin-left: 20px;
}

main h3 {
    color: #24668d;
    margin: 20px 0;
    font-size: 1.1em;
    margin-left: 20px;
}

main p#links {
    text-align: center;
}

main a {
    color: #c4af11;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}

main a:hover {
    text-decoration: underline;
}

@media screen and (min-width:600px) {
    br.breakCode {
        display: none;
    }
}
