@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color01:#0f172a;
    --color02:#172a3a;
    --color03:#f0f0f0;
    --color04:#d2d9e2;
    --color05:#f5f7fa;
    --color06:#2d5270;
    --colorHighlight1: #F2BE24;
    --colorHighlight1Shadow: #d3a10b;
    --colorHighlight2: #D94C1A;
    --colorHighlight2Shadow: #ad380d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color03);
    color: var(--color01);
    font-family: 'Poppins', "Open Sans", Arial, sans-serif;
    border-bottom: 10px solid var(--colorHighlight1);
}

header {
    background-color: var(--color01);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 4px solid var(--colorHighlight1);
}

header a {
    color: var(--color03);
    text-decoration: none;
    padding: 5px;
    line-height: 1.8em;
    background-color: var(--color01);
    border-top: 2px solid var(--colorHighlight1);
    text-shadow: 0px 0px 5px #000;
}

header img {
    width: 250px;
    margin-bottom: -50px;
}

main {
    margin: 15px auto;
    padding: 15px;
}

main {
    max-width: 1100px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

p.codeCenter {
    text-align: center;
}

.comentario {
    color: var(--colorHighlight2);
}


