@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rosaClaro:#ffc0cb;
    --rosa: #f88fa0;
    --rosaEscuro: #e6687d;
    --azulClaro: #7c9cc7;
    --azul: #1f74a5;
    --azulEscuro: #2b3452;
}

/* Página Comandos */
p.pDeTestes {
    background-color: #eee;
    color: var(--rosaEscuro);
    font-size: 0.8em;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}

p#promptTeste {
    margin: 0 auto;
    display: block;
}

div.comando code, div.eventoDOM code {
    font-family: 'Anonymous Pro', monospace;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

input#iTextoTamanho {
    height: 36px;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}