@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Página DOM */

:root {
    --color01:#0f172a;
    --color02:#172a3a;
    --color03:#f0f0f0;
    --color04:#d2d9e2;
    --color05:#f5f7fa;
    --color06:#2d5270;
    --colorHighlight1: #F2BE24;
    --colorHighlight2: #D94C1A;
    --colorHighlight2Shadow: #ad380d;
}

p.cliqueAqui {
    display: inline-block;
    font-size: 0.9em;
    margin: 20px auto 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    color: var(--color05);
}

p#add1, p#add2 {
    background-color: var(--colorHighlight2);
}

