@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Página DOM */

p.cliqueAqui {
    display: inline-block;
    font-size: 0.9em;
    margin: 20px auto 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    color: #3a4669;
}

p#add1 {
    background-color: #fdf5b8;
}

p#add2 {
    background-color: #7c9cc7;
}

