@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color01:#0f172a;
    --color02:#172a3a;
    --color03:#f0f0f0;
    --color04:#d2d9e2;
    --color05:#f5f7fa;
    --color06:#2d5270;
    --colorHighlight1: #F2BE24;
    --colorHighlight1Shadow: #d3a10b;
    --colorHighlight2: #D94C1A;
    --colorHighlight2Shadow: #ad380d;
}

main {
    max-width: 1100px;
    text-align: center;
    box-sizing: border-box;
}

article {
    max-width: 700px;
    display: inline-block;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
}

/* Textos */article h1 {
    background-color: var(--colorHighlight1);
    padding: 10px 30px;
    font-size: 24px;
    color: var(--color05);
    text-transform: uppercase;
}
article h2 {
    color: var(--colorHighlight2);
    margin: 20px;
    font-size: 1.3em;
}
article h3 {
    color: var(--colorHighlight1);
    margin: 20px;
    font-size: 1.1em;
}
article h1:hover::after, main h2:hover::after, main h3:hover::after {
    content: "_";
}
article p {
    font-size: 14px;
    padding: 10px;
    text-align: justify;
}
article a {
    color: var(--color02);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
article a:hover {
    text-decoration: underline;
}

/* Listas */
article ul, ol {
    padding: 0 20px 0 30px;
}

article ul li, ol li {
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: justify;
}

article ul li {
    list-style-type: circle;
}

article ol li::marker {
    color: var(--colorHighlight1);
    font-weight: 700;
    font-size: 14px;
}

article ul li span {
    font-size: 12px;
}



article li span.destaque {
    text-decoration: var(--colorHighlight1) underline;
    font-size: 1em;
}

article li.subTopico {
    list-style-type: disc;
    margin-left: 15px;
}

/* Códigos e Comandos */
article div.comando, div.alinhadoEsq {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid var(--colorHighlight1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

article code {
    font-size: 14px;
    color: var(--color06);
    background-color: var(--color04);
    padding: 0 5px;
    border-bottom: 1px solid var(--color06);
    margin-right: 5px;
}   

p.resultado {
    text-align: center;
    background-color: var(--color05);
    color: var(--colorHighlight2);
    font-size: 14px;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;
}

article div.comando p, input {
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}

article p.pDeTestes {
    background-color: var(--color04);
    color: var(--color02);
    font-size: 0.8em;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}

article p.hideTeste {
    display: none;
}

article input[type="number"], input[type="text"], select {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 5px;
}

article input.botaoTeste {
    background-color: var(--colorHighlight2);
    color:var(--color05);
    border: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid var(--colorHighlight2Shadow);
}

article input.botaoTeste:hover {
    background-color:var(--colorHighlight2Shadow);
    color: var(--color03);
    cursor: pointer;
}

.codigo code, .comando code, .alinhadoEsq code {
    font-size: 14px;
    font-family: 'Anonymous Pro', monospace;
    color: var(--color06);
    background-color: var(--color04);
    border-bottom: 1px solid var(--color06);
    padding: 5px 10px;
}

article div.comando p.alinhadoEsq {
    max-width: 410px;
    text-align: left;
}

article div.codigo {
    text-align: center;
}

/* Imagens */

article img {
    width: 100%;
}

article img.imagem50 {
    display: block;
    margin: 15px auto;
    width: 50%;
}

@media screen and (min-width:600px) {
    article br.breakCode {
        display: none;
    }
}

@media screen and (max-width:600px) {
    article p#links {
        margin-top: 20px;
    }
    article p#links a {
        display: block;
        margin: 0;
        line-height: 0.5em;
    }
}

/* Menu Sidebar */

section {
    display: block;
    margin: 10px;
    min-width: 290px;
    text-align: left;
    box-sizing: border-box;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

section ul {
    list-style-type: none;
}

section ul li {
    font-size: 0.9em;
    padding: 15px 20px;
    border: 1px solid var(--color04);
}

section ul li:hover {
    background-color: var(--color04);
    cursor: pointer;
}

section ul li a {
    color: var(--color01);
    text-decoration: none;
    display: block;
}

section div#menuClick {
    display: none;
}

@media screen and (min-width: 831px) and (max-width: 1079px) {
    main {
        max-width: 900px;
    }
    article {
        max-width: 500px;
    }

    section {
        min-width: 220px;
    }
}

@media screen and (max-width:830px) {
    section {
        float: none;
        display: block;
        background-color: var(--color03);
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        bottom: 5px;
        border: 2px solid #eee;
        border-radius: 3px;
        box-shadow: 0 0 5px #aaa;
    }

    section ul#menuOpen{
        display: none;
    }

    section ul li {
        border: none;
        border-bottom: 1px solid var(--color04);
    }

    section div#menuClick {
        display: block;
        background-color: var(--color01);
        padding: 10px;
    }
    
    section i#burgerMenu {
        display: block;
        color: var(--colorHighlight1);
    }

    section i#closeMenu {
        display: none;
        color: var(--colorHighlight2);
    }
}


/* Navegação */
footer {
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

footer a.topic {
    font-size: 14px;
    display: inline-block;
    width: 220px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--color06);
    border-radius: 4px;
    color: var(--color06);
    text-align: center;
    text-decoration: none;
}

footer a.topic:hover {
    background-color: var(--color04);
}

footer a#link2 {
    float: right;
}

footer a.topic i {
    font-size: 15px;
    vertical-align: -4px;
}

@media screen and (max-width:540px) {
    footer a.topic {
        display:block;
        margin: 10px auto;
    }

    footer a#link2 {
        float: none;
    }
}


